html {
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Noto Sans", sans-serif;
}

.main {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.topBar {
  flex: 0 1 auto;
  /* height: 70px; */
  background-color: white;
  color: #1f3e59;
  padding: 25px 90px;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.titlePara {
  margin: 0;
  font-size: 35px;
  font-weight: 900;
}

.section {
  flex: 1 1 auto;
  background-color: #f4f4f4;
  width: 100%;
}

.addBook {
  display: flex;
  justify-content: center;
  margin: 24px;
}

.button {
  background-color: #1f3e59;
  border: none;
  color: white;
  padding: 0px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  cursor: pointer;
}

.addBtn {
  background-color: #f4f4f4;
  color: #1f3e59;
  padding: 8px 24px;
  font-size: 24px;
  font-weight: 800;
  border-radius: 8px;
}

.addBtn:hover {
  background-color: #e1e1e1;
}

.modalBtn {
  background-color: #f4f4f4;
  color: #1f3e59;
  padding: 6px 16px;
  font-size: 18px;
  font-weight: 800;
  border-radius: 8px;
}

.copyright {
  flex: 0 1 auto;
  font-weight: 600;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  color: #1f3e59;
}

.form-group {
  margin-bottom: 16px;
}

.form-control {
  margin-top: 8px;
}

.modal {
  font-family: "Noto Sans", sans-serif;
  color: #1f3e59;
}

.modal-title {
  font-weight: 700;
  font-size: 24px;
}

.form-title {
  font-weight: 600;
}

.modalClose {
  background-color: #cd5c5c;
  color: white;
}

.modalClose:hover {
  background-color: #e13737;
  transform: scale(1.01);
}

.modalSave {
  background-color: #a2cb0c;
  color: white;
}

.modalSave:hover {
  background-color: #abd60f;
  transform: scale(1.01);
}

.modal-body,
.modal-header,
.modal-footer {
  border: none !important;
}

.modal-content {
  width: 90%;
  padding: 10px 20px;
}
